

.form-group{
  label{
    font-weight: bold;
  }
}

.image-container {
  $image-size: 150px;
  width: $image-size;
  height: $image-size;
  padding: 2px;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

